.cardHeaderImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 30px;
}

.titleIcon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    align-self: center;
}

.displayImage {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.timeSlot {
    border-radius: 5px;
    width: 100%;
    font-size: 10px;
    padding: 5px 0;
    margin: 3px 0;
}

.timeSlot:hover {
    background-color: #0cca00 !important;
}

.disabled:hover {
    cursor: not-allowed;
}

.cardSpinner {
    position: absolute;
    top: 45%;
    left: 48%;
}

.react-datepicker,
.react-datepicker__month-container {
    width: 100%;
    border: none !important;
}

.react-datepicker__header {
    background-color: transparent !important;
    border: none !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
    margin: 0.5rem !important;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
    background-color: #0cca00 !important;
    outline: none;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range,
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
    background-color: #0cca00 !important;
    outline: none;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
    border-radius: 100% !important;
    background-color: #0cca00 !important;
    outline: none;
    color: #fff !important;
}

.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
    border-radius: 100% !important;
    outline: none;
    font-size: 15px;
}

.react-datepicker__week div[aria-disabled="true"] {
    text-decoration: line-through;
    cursor: not-allowed !important;
    color: #9e9e9e !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
    color: #656565 !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
    color: #fff !important;
}

.bookCard {
    flex-direction: row !important;
    width: 75%;
    box-shadow: #eeeeee 0px 0px 20px 14px;
    border: 1px solid #eeeeee;
}

.card-left-body,
.card-right-body {
    padding: 70px 50px !important;
    width: 50%;
}

.confirmDetails {
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    padding: 15px 5% !important;
    margin: 30px 0;
}

.amountBlock {
    background-color: #0086ec17;
    margin: 0 !important;
    padding: 10px 5% !important;
}

.buttonSize {
    padding: 12px 5% !important;
}

.closedDay {
    margin: 10px auto;
    font-size: 1em;
}

.checked {
    background: #fff;
    width: max-content;
    padding: 12px 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.navbar {
    width: 100% !important;
    background-color: #fff !important;
    box-shadow: 0px -1px 20px 0px #848484;
    z-index: 999;
}

.navbar-brand {
    flex: 1;
}

.navbar-nav {
    flex-direction: row !important;
    flex: 1;
    margin-left: -200px !important;
}

.navbar-nav > li > a {
    color: #525252 !important;
    font-family: Georgia, "Times New Roman", Times, serif !important;
}

.navbar-nav > li:first-of-type {
    margin-right: 25px !important;
}

.nav-logo {
    width: 200px;
    margin-left: -32px;
}

.logoSites {
    width: 100px;
    display: block;
    margin-bottom: 10px;
    border: 1px solid #ede9dc;
    padding: 5px 0;
}

.navbar-toggler {
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }

    .navbar-nav {
        flex-direction: column !important;
        position: absolute;
        z-index: 999;
        width: 100%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 30px 50px -42px #848484;
        top: 60px;
        right: 0px;
        padding: 15px 35px !important;
    }

    .navbar-nav > li {
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 999px) {
    .bookCard {
        flex-direction: column !important;
    }

    .card-left-body,
    .card-right-body {
        padding: 1.25rem !important;
        width: 100%;
    }

    .displayImage {
        border-radius: 5px 5px 0 0;
    }

    .react-datepicker {
        overflow: scroll;
    }

    h4,
    .h4 {
        font-size: 1.2rem !important;
        padding: 0 30px !important;
        letter-spacing: 0.3px;
    }

    .confirmDetails {
        padding: 15px 30px !important;
    }

    .details {
        margin: 10px 0 !important;
    }

    .amountBlock {
        padding: 10px 15px;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .resFontSize {
        font-size: 13px;
    }

    .buttonContainer {
        margin: 0 !important;
    }

    .buttonSize {
        padding: 12px 10% !important;
    }
}

@media screen and (max-width: 500px) {
    .closedDay {
        font-size: 0.8em;
    }
}
